<!-- Footer -->
    <footer class="footer widget-footer">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3 col-sm-6 reponsive-mb30">  
                    <div class="widget-logo">
                        <div id="logo-footer" class="logo">
                            <a href="/" rel="home">
                                <img src="/images/logofooter@2x.png" alt="image">
                            </a>
                        </div>
                    <P>forte-investments.com offers its clients best solution for your crypto investment with most profitable and fast maturing investment plans. forte-investments.com is a modern digital currency platform with a full auto payment system.</P>
                    </div>         
                </div><!-- /.col-md-3 --> 

                <div class="col-lg-3 col-sm-6 reponsive-mb30">  
                    <div class="widget widget-out-link clearfix">
                        <h5 class="widget-title">OUR COMPANY</h5>
                        <ul class="one-half">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/about">ABOUT US</a></li>
                            <li><a href="/rules">TERMS</a></li>
                            <li><a href="/guide">GUIDE</a></li>
                            <li><a href="/reviews">REVIEWS</a></li>
                        </ul>
                        <ul class="one-half">
                                                        <li><a href="/login">LOGIN</a></li>
                            <li><a href="/signup">REGISTER</a></li>
                                                        <li><a href="/support">CONTACT</a></li>
                            <li><a href="/">PARTNERSHIP</a></li>
                            
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-lg-3 col-sm-6 reponsive-mb30">
                    <div class="widget widget-recent-new">
                        <h5 class="widget-title">SECURITY</h5>
                        <img src="images/sec2.png"><br>
                        <img src="images/sec3.png">
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-lg-3 col-sm-6 reponsive-mb30">
                    <div class="widget widget-letter">
                        <h5 class="widget-title">SUPPORT & CONTACT</h5>
                       <ul class="flat-information">
                            <li><i class="fa fa-map-marker"></i><a href="#">4 PRINCES STREET, LONDON, UNITED KINGDOM, W1B 2LE </a></li>
                            <li><i class="fa fa-phone"></i><a href="https://wa.me/message/"> </a></li>
                            <li><i class="fa fa-envelope"></i><a href="/cdn-cgi/l/email-protection#a3d0d6d3d3ccd1d7e3d0cad7c6cdc2cec68dc0ccce"><span class="__cf_email__" data-cfemail="d6b7b2bbbfb896b0b9a4a2b3fbbfb8a0b3a5a2bbb3b8a2a5f8b5b9bb">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->    
        </div><!-- /.container -->
    </footer>

    <!-- Bottom -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright text-center"> 
                        <p>@2024 <a href="#">forte-investments.com</a>. All rights reserved.
                        </p>
                    </div>
                </div>
                
            </div>          
        </div><!-- /.container -->
    </div><!-- bottom -->

    <!-- Go Top -->
    <a class="go-top">
        <i class="fa fa-angle-up"></i>
    </a>  