
<style>
    #mulawhatsapp {
  display: block;
  position: fixed;
  bottom: -70px;
  left: 0px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#mulawhatsapp:hover {
  background-color: transparent;
}

.circles {
	width: 320px;
	height: 320px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow:hidden;
	position:relative;
}
</style>



<div id="mulawhatsapp" class="circles"> <a href="https://wa.me/+4407340554541" target="_blank"><img src="whatsapp2.png" width="150" /></a></div>
    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>   