<div id="mulawhatsapp" class="circles"> <a href="https://wa.me/+4407340554541" target="_blank"><img src="whatsapp2.png" width="150" /></a></div>



    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>   

    <!-- Boxed -->
    <div class="boxed">

    <div class="top padding-none style5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">                      
                    <p class="info-text margin-top9"><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a> &nbsp;&nbsp;&nbsp;<a href="/signup"><i class="fa fa-sign-out" aria-hidden="true"></i> Register</a> </p>
                    
                    
                    
                    
                </div><!-- /.col-md-7 -->       
                <div class="col-lg-5 col-sm-6">
                    <div class="wrap-top clearfix">
                        <aside  class="widget reponsive-none float-right margin-left32">
                            <div class="btn-click style2 color-white">
                                <a href="/signup" class="flat-button">REGISTER</a>
                            </div>
                        </aside>
                        <ul class="social-links float-right margin-left25 margin-top9 flat-top">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        
                    </div>
                </div>        
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.top -->

    <div class="flat-header-wrap">
        <!-- Header -->            
        <div class="header widget-header widget-header-style2 clearfix">
            <div class="container">
                <div class="header-wrap clearfix">
                    <div class="row"> 
                        <div class="col-lg-3">
                            <div id="logo" class="logo">
                                <a href="/home" rel="home">
                                    <img src="/images/logo@2x.png" alt="image">
                                </a>
                            </div><!-- /.logo -->
                        </div>
                        <div class="col-lg-9">
                            <div class="wrap-widget-header clearfix">
                                
                                <aside class="widget widget-info color35d">          
                                    <div class="textwidget clearfix">
                                        <div class="info-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>Ericsson, building 27 entrance </h6>
                                            <p>4 PRINCES STREET,<br> LONDON, UNITED KINGDOM, W1B 2LE</p>
                                        </div>
                                    </div>
                                </aside>
                                <aside class="widget widget-info color35d">          
                                    <div class="textwidget clearfix">
                                        <div class="info-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>WhatsApp Now</h6>
                                            <p><a href="https://wa.me/+4407340554541">+4407340554541</a></p>
                                        </div>
                                    </div>
                                </aside>      
                                
                                
                                <aside class="widget widget-info color35d">          
                                    <div class="textwidget clearfix">


    <a class="mu"><!-- GTranslate: https://gtranslate.io/ -->
<a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"></a><a href="#" onclick="doGTranslate('en|fr');return false;" title="French" class="gflag nturl" style="background-position:-200px -100px;"></a><a href="#" onclick="doGTranslate('en|de');return false;" title="German" class="gflag nturl" style="background-position:-300px -100px;"></a><a href="#" onclick="doGTranslate('en|it');return false;" title="Italian" class="gflag nturl" style="background-position:-600px -100px;"></a><a href="#" onclick="doGTranslate('en|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"></a><a href="#" onclick="doGTranslate('en|ru');return false;" title="Russian" class="gflag nturl" style="background-position:-500px -200px;"></a><a href="#" onclick="doGTranslate('en|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"></a>

<style type="text/css">
<!--
a.gflag {vertical-align:middle;font-size:24px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/24.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/24a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
-->
</style>

<br /><select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option></select><div id="google_translate_element2"></div>

<style>
.mu {
    float: left;
}
</style>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


<script type="text/javascript">
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>



</a>

 

                                    </div>
                                </aside> 
                            </div>
                        </div>   
                    </div><!-- /.row -->                   
                </div><!-- /.header-wrap -->                 
                
            </div>
        </div><!-- /.header -->
<header id="header" class="header header-style1 header-classic">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="flat-wrap-header">
<div class="nav-wrap clearfix">        
<nav id="mainnav" class="mainnav color-white">
<ul class="menu"> 
    <li class="active"><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/rules">TERMS</a></li>
    <li><a href="../cert.png" color="green">Certificate</a></li>
        <li><a href="/login">LOGIN</a></li>
    <li><a href="/signup">REGISTER</a></li>
            <li><a href="/support">CONTACT</a></li>
    
        
        
</ul><!-- /.menu -->
</nav><!-- /.mainnav -->  

<div class="btn-menu">
<span></span>
</div><!-- //mobile menu button --> 
</div><!-- /.nav-wrap -->

</div>
</div>
</div>
</div>
</header>
    </div>
    
    
    
    
    <!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><a href="#"><img src="data1/images/banner2.jpg" alt="Slider1" title="Slider1" id="wows1_0"/></a></li>
	<!--	<li><a href="#"><img src="data1/images/banner1.jpg" alt="Slider2" title="Slider2" id="wows1_1"/></a></li>-->
		<li><img src="data1/images/banner2.jpg" alt="Slider5" title="Slider3" id="wows1_2"/></li>
		<li><a href="#"><img src="data1/images/banner3.jpg" alt="Slider4" title="Slider4" id="wows1_3"/></a></li>
		
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Slider1"><span>1</span></a>
		<a href="#" title="Slider2"><span>2</span></a>
		<a href="#" title="Slider3"><span>3</span></a>
		<a href="#" title="Slider4"><span>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery image carousel</a> by WOWSlider.com v9.0m</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
    
    


    <section class="bg-theme clearfix">
        <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#1c0f61" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>
    </section>
    
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "colorTheme": "light",
  "isTransparent": false,
  "showSymbolLogo": true,
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->
    
    <section class="flat-row section-icon">
        <div class="container">
            <div class="divider sh72"></div>
            <div class="row">
                <div class="col-md-12">  
                    <div class="title-section style3 text-center">
                        <h1 class="title">GROW YOUR CRYPTOCURRENCY</h1>
                        
                    </div>      
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row --> 
            
            <center>
                                        <a href="/login" class="flat-button">LOGIN</a>
                                                                                       <a href="/signup" class="flat-button">REGISTER</a>
                                <br><br><br><br>
                            </center>
            
            
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-bar-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">EASY ACCESS</h5>  
                            <p style="font-size:20px;">We have done all the hardware preparations for you, Mine your cryptocurrency today with ease and comfort. we perform our tasks reliably.</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-pie-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">RELIABLE & SAFE</h5>  
                            <p style="font-size:20px;">Everything you are looking for in an ultimate Mining platform. We are a well-coordinated team and always makes investing safe.
</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-support"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title"> 100% REFUND POLICY</h5>  
                            <p style="font-size:20px;">A 100 million dollar insurance fund is prepared which can fully cover force major losses in the turbulent market. We simply ensure the security of funds.
</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                
                
                <div class="row text-center">
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-bar-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">AUTOMATED WITHDRAWAL</h5>  
                            <p style="font-size:20px;">Withdraw your money in an instant using our wide range available payment system.</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-pie-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">VIP MANAGER</h5>  
                            <p style="font-size:20px;">Get a personal manager, available by demand 24/7, answering any of your questions.
</p>  
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-support"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">SUPPORT 24/7</h5>  
                            <p style="font-size:20px;">A team of professionals speaking your mother tongue are always here to support you.
</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                
                </div>
                
                
                
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </section>
    