    <!-- Boxed -->
    <div class="boxed">

    <div class="top padding-none style5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">                      
                    <p class="info-text margin-top9"><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a> &nbsp;&nbsp;&nbsp;<a href="/signup"><i class="fa fa-sign-out" aria-hidden="true"></i> Register</a> </p>
                    
                    
                    
                    
                </div><!-- /.col-md-7 -->       
                <div class="col-lg-5 col-sm-6">
                    <div class="wrap-top clearfix">
                        <aside  class="widget reponsive-none float-right margin-left32">
                            <div class="btn-click style2 color-white">
                                <a href="/signup" class="flat-button">REGISTER</a>
                            </div>
                        </aside>
                        <ul class="social-links float-right margin-left25 margin-top9 flat-top">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        
                    </div>
                </div>        
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.top -->

    <div class="flat-header-wrap">
        <!-- Header -->            
        <div class="header widget-header widget-header-style2 clearfix">
            <div class="container">
                <div class="header-wrap clearfix">
                    <div class="row"> 
                        <div class="col-lg-3">
                            <div id="logo" class="logo">
                                <a href="/" rel="home">
                                    <img src="/images/logo@2x.png" alt="image">
                                </a>
                            </div><!-- /.logo -->
                        </div>
                        <div class="col-lg-9">
                            <div class="wrap-widget-header clearfix">
                                
                                <aside class="widget widget-info color35d">          
                                    <div class="textwidget clearfix">
                                        <div class="info-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>Ericsson, building 27 entrance </h6>
                                            <p>4 PRINCES STREET,<br> LONDON, UNITED KINGDOM, W1B 2LE</p>
                                        </div>
                                    </div>
                                </aside>
                                <aside class="widget widget-info color35d">          
                                    <div class="textwidget clearfix">
                                        <div class="info-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>WhatsApp Now</h6>
                                            <p><a href="https://wa.me/+4407340554541">+4407340554541</a></p>
                                        </div>
                                    </div>
                                </aside>      
                                
                                
                                <aside class="widget widget-info color35d">          
                                    <div class="textwidget clearfix">


    <a class="mu"><!-- GTranslate: https://gtranslate.io/ -->
<a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"></a><a href="#" onclick="doGTranslate('en|fr');return false;" title="French" class="gflag nturl" style="background-position:-200px -100px;"></a><a href="#" onclick="doGTranslate('en|de');return false;" title="German" class="gflag nturl" style="background-position:-300px -100px;"></a><a href="#" onclick="doGTranslate('en|it');return false;" title="Italian" class="gflag nturl" style="background-position:-600px -100px;"></a><a href="#" onclick="doGTranslate('en|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"></a><a href="#" onclick="doGTranslate('en|ru');return false;" title="Russian" class="gflag nturl" style="background-position:-500px -200px;"></a><a href="#" onclick="doGTranslate('en|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"></a>

<style type="text/css">
<!--
a.gflag {vertical-align:middle;font-size:24px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/24.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/24a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
-->
</style>

<br /><select onchange="doGTranslate(this);"><option value="">Select Language</option><option value="en|af">Afrikaans</option><option value="en|sq">Albanian</option><option value="en|ar">Arabic</option><option value="en|hy">Armenian</option><option value="en|az">Azerbaijani</option><option value="en|eu">Basque</option><option value="en|be">Belarusian</option><option value="en|bg">Bulgarian</option><option value="en|ca">Catalan</option><option value="en|zh-CN">Chinese (Simplified)</option><option value="en|zh-TW">Chinese (Traditional)</option><option value="en|hr">Croatian</option><option value="en|cs">Czech</option><option value="en|da">Danish</option><option value="en|nl">Dutch</option><option value="en|en">English</option><option value="en|et">Estonian</option><option value="en|tl">Filipino</option><option value="en|fi">Finnish</option><option value="en|fr">French</option><option value="en|gl">Galician</option><option value="en|ka">Georgian</option><option value="en|de">German</option><option value="en|el">Greek</option><option value="en|ht">Haitian Creole</option><option value="en|iw">Hebrew</option><option value="en|hi">Hindi</option><option value="en|hu">Hungarian</option><option value="en|is">Icelandic</option><option value="en|id">Indonesian</option><option value="en|ga">Irish</option><option value="en|it">Italian</option><option value="en|ja">Japanese</option><option value="en|ko">Korean</option><option value="en|lv">Latvian</option><option value="en|lt">Lithuanian</option><option value="en|mk">Macedonian</option><option value="en|ms">Malay</option><option value="en|mt">Maltese</option><option value="en|no">Norwegian</option><option value="en|fa">Persian</option><option value="en|pl">Polish</option><option value="en|pt">Portuguese</option><option value="en|ro">Romanian</option><option value="en|ru">Russian</option><option value="en|sr">Serbian</option><option value="en|sk">Slovak</option><option value="en|sl">Slovenian</option><option value="en|es">Spanish</option><option value="en|sw">Swahili</option><option value="en|sv">Swedish</option><option value="en|th">Thai</option><option value="en|tr">Turkish</option><option value="en|uk">Ukrainian</option><option value="en|ur">Urdu</option><option value="en|vi">Vietnamese</option><option value="en|cy">Welsh</option><option value="en|yi">Yiddish</option></select><div id="google_translate_element2"></div>

<style>
.mu {
    float: left;
}
</style>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


<script type="text/javascript">
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>



</a>

 

                                    </div>
                                </aside> 
                            </div>
                        </div>   
                    </div><!-- /.row -->                   
                </div><!-- /.header-wrap -->                 
                
            </div>
        </div><!-- /.header -->
<header id="header" class="header header-style1 header-classic">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="flat-wrap-header">
<div class="nav-wrap clearfix">        
<nav id="mainnav" class="mainnav color-white">
<ul class="menu"> 
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/rules">TERMS</a></li>
    <li><a href="/cert.png" color="green">Certificate</a></li>
        <li><a href="/login">LOGIN</a></li>
    <li><a href="/signup">REGISTER</a></li>
            <li><a href="/support">CONTACT</a></li>
    
        
        
</ul><!-- /.menu -->
</nav><!-- /.mainnav -->  

<div class="btn-menu">
<span></span>
</div><!-- //mobile menu button --> 
</div><!-- /.nav-wrap -->

</div>
</div>
</div>
</div>
</header>
    </div>
    
    
    
    
    <!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><a href="#"><img src="data1/images/banner2.jpg" alt="Slider1" title="Slider1" id="wows1_0"/></a></li>
	<!--	<li><a href="#"><img src="data1/images/banner1.jpg" alt="Slider2" title="Slider2" id="wows1_1"/></a></li>-->
		<li><img src="data1/images/banner2.jpg" alt="Slider5" title="Slider3" id="wows1_2"/></li>
		<li><a href="#"><img src="data1/images/banner3.jpg" alt="Slider4" title="Slider4" id="wows1_3"/></a></li>
		
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Slider1"><span>1</span></a>
		<a href="#" title="Slider2"><span>2</span></a>
		<a href="#" title="Slider3"><span>3</span></a>
		<a href="#" title="Slider4"><span>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery image carousel</a> by WOWSlider.com v9.0m</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
    
    


    <section class="bg-theme clearfix">
        <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#1c0f61" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>
    </section>
    
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "colorTheme": "light",
  "isTransparent": false,
  "showSymbolLogo": true,
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->
    
    <section class="flat-row section-icon">
        <div class="container">
            <div class="divider sh72"></div>
            <div class="row">
                <div class="col-md-12">  
                    <div class="title-section style3 text-center">
                        <h1 class="title">GROW YOUR CRYPTOCURRENCY</h1>
                        
                    </div>      
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row --> 
            
            <center>
                                        <a href="?a=login" class="flat-button">LOGIN</a>
                                                                                       <a href="?a=signup" class="flat-button">REGISTER</a>
                                <br><br><br><br>
                            </center>
            
            
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-bar-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">EASY ACCESS</h5>  
                            <p style="font-size:20px;">We have done all the hardware preparations for you, Mine your cryptocurrency today with ease and comfort. we perform our tasks reliably.</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-pie-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">RELIABLE & SAFE</h5>  
                            <p style="font-size:20px;">Everything you are looking for in an ultimate Mining platform. We are a well-coordinated team and always makes investing safe.
</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-support"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title"> 100% REFUND POLICY</h5>  
                            <p style="font-size:20px;">A 100 million dollar insurance fund is prepared which can fully cover force major losses in the turbulent market. We simply ensure the security of funds.
</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                
                
                <div class="row text-center">
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-bar-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">AUTOMATED WITHDRAWAL</h5>  
                            <p style="font-size:20px;">Withdraw your money in an instant using our wide range available payment system.</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-pie-chart"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">VIP MANAGER</h5>  
                            <p style="font-size:20px;">Get a personal manager, available by demand 24/7, answering any of your questions.
</p>  
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="iconbox iconleft style2">
                        <div class="box-header">
                            <div class="box-icon">
                                <i class="ti-support"></i>
                            </div>
                        </div>
                        <div class="box-content">
                            <h5 class="box-title">SUPPORT 24/7</h5>  
                            <p style="font-size:20px;">A team of professionals speaking your mother tongue are always here to support you.
</p> 
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                
                </div>
                
                
                
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </section>
    
    

    <section class="flat-row section-services2" style="margin-top:-50px;">
        <div class="container">
           <div class="row">
                    <div class="col-lg-6">
                        <video style="margin-top:10px;width:100%;height:370px" controls poster=
"/images/mining.jpg">
<source src="video/fx.mp4" type="video/mp4">
</video>


                    </div>
                    <div class="col-lg-6"> 
                        <div class="careers-text text-left padding-left43">
                           <center> <h1>ABOUT OUR COMPANY. </h1>
                            <p class="mb-3" style="font-size:20px;">forte-investments.com Bitcoin Cloud Mining offers you a smart and easy way to invest in bitcoin with zero stress. Our Bitcoin Cloud Mining services are suitable for those who are new to the world of cryptocurrencies, as well as for bitcoin experts and large-scale bitcoin investors.</p> 
                            
                            <p class="mb-5" style="font-size:20px;">We are all strong believers in the future of digital currencies and we love being part of this growing community. We will provide you with insightful information, analysis and judgments on the current markets, and make the right investments for you.	</p> 
                            
                            
                            <a href="/about" class="flat-button">READ MORE</a>
                               
                            </center>
                            
                        </div>
                    </div>
                </div> 
        </div>
    </section>
    
    
    <section class="choose-us-area pb-20 pt-40">
		    	<div class="section-title mb-40 text-center both-border">
				<h1>3 SIMPLE STEPS ON HOW TO START!.</h1>
			</div>
		     <div class="container">


    <div class="row">
        
        
        
        <div class="col-md-4">
            <div class="card mb-4 pt-4 pb-4">
                <center>
							<h3 class="mb-2">Create Your Account.</h3>
							<p class="p-2" style="font-size:20px;">Open new account<br> Update your cryptocurrency wallet</p>

				
				  </center>
                 </div>
                </div>
        
       <div class="col-md-4">
            <div class="card mb-4 pt-4 pb-4">
                <center>
                	<h3 class="mb-2">Make Deposit</h3>
							<p class="p-2" style="font-size:20px;">Make a cryptocurrency deposit and your profit starts counting.</p>

				  </center>
                 </div>
                </div>
    
    <div class="col-md-4">
            <div class="card mb-4  pt-4 pb-4">
                <center>
                <h3 class="mb-2">Withdraw Earning</h3>
							<p class="p-2" style="font-size:20px;">Get funds easily to your cryptocurrency wallet without restrictions. Fast and reliable.</p>
                  </center>
                 </div>
                </div>
          
     
   
        
    </div>
		
		</section>
    
    <section class="flat-row section-testimonials2 padding4">
     
           
            <div class="row">
                <div class="col-md-12">  
                    <div class="title-section style3 text-center">
                        <h1 class="title">INVESTMENT PLANS</h1>
                    </div>      
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row --> 
              <div class="container">
    <div class="row wow bounceInUp move_down"> 
      <div class="col-sm-6 col-md-4"> 
          <div class="pricing_container"> 
            <div class="wow bounceInUp"> 
              <h3 class="pricing_title" style="color: #ff7742"><b>AMATEUR</b></h3>
              <hr class = "line">
              <p class = "price_text"> 5% </p>
              <span style="font-weight:bold; margin: 7px;">Daily Profit</span> <br><br>
              <span style="font-weight:bold; margin: 7px;">Duration : 24 hours</span> <br>
                  <span style="font-weight:bold; margin: 8px;"> Minimum   $50 </span><br>
                   <span style="font-weight:bold; margin: 8px;"> Maximum   $20,000 </span><br>
                  <span style="font-weight:bold; margin: 6px;"> Principal   Returned </span>
                  
              <div class = "row move_button">
                  <a href="/login" class="button buy_now_text" role="button"><b>DETAILS</b></a>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          
    <div class="ribbon"><span>Popular</span></div>
          <div class="pricing_container">
            <div class="wow bounceInUp">
              <h3 class="pricing_title" style="color: #ff7742"><b>ADVANCED</b></h3>
              <hr class = "line">
              <p class = "price_text"> 10% </p>
              <span style="font-weight:bold; margin: 7px;">Daily Profit</span> <br><br>
              <span style="font-weight:bold; margin: 7px;">Duration : 40 hours</span> <br>
                  <span style="font-weight:bold; margin: 8px;"> Minimum   $3,000 </span><br>
                  <span style="font-weight:bold; margin: 8px;"> Maximum   $40,000</span><br>
                  <span style="font-weight:bold; margin: 6px;"> Principal   Returned </span>
                  
              <div class = "row move_button">
                  <a href="/login" class="button buy_now_text" role="button"><b>DETAILS</b></a>
              </div>
            </div>
          </div>
      </div>

      <div class="col-sm-6 col-md-4">
          <div class="pricing_container">
            <div class="wow bounceInUp">
              <h3 class="pricing_title" style="color: #ff7742"><b>VIP</b></h3>
              <hr class = "line">
              <p class = "price_text"> 20% </p>
              <span style="font-weight:bold; margin: 7px;">Daily Profit</span> <br><br>
              <span style="font-weight:bold; margin: 7px;">Duration : 30 hours</span> <br>
                  <span style="font-weight:bold; margin: 8px;"> Minimum   $10,000 </span><br>
                  <span style="font-weight:bold; margin: 8px;"> Maximum   Unlimited </span><br>
                  <span style="font-weight:bold; margin: 6px;"> Principal   Returned </span>
              <div class = "row move_button">
                  <a href="/login" class="button buy_now_text" role="flat-button"><b>DETAILS</b></a>
              </div>
            </div>
          </div>
      </div>

     <!-- <div class="col-sm-6 col-md-3">
          <div class="pricing_container">
            <div class="wow bounceInUp">
              <h3 class="pricing_title" style="color: #ff7742"><b>SPECIAL</b></h3>
              <hr class = "line">
              <p class = "price_text"> 3.5% </p>
             <span style="font-weight:bold; margin: 7px;">Daily Profit</span> <br><br>
              <span style="font-weight:bold; margin: 7px;">Duration : 10 Days</span> <br>
                  <span style="font-weight:bold; margin: 8px;"> Minimum   $10,000 </span><br>
                  <span style="font-weight:bold; margin: 6px;"> Principal  Returned </span>
              <div class = "row move_button">
                  <a href="?a=login" class="button buy_now_text" role="button"><b>DETAILS</b></a>
              </div>
            </div>
          </div>
      </div>-->
    </div>

    </div> <!-- /container -->
    </section>
    
    
    
    <section class="flat-row v12 parallax parallax5">
        <div class="section-overlay style2"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="infomation-text padding-lr140 text-center">1 Level Referral Commision <br> <span>  - 5% - </span></h1>
                </div>
            </div>
        </div>
    </section>
    
    <section class="flat-row section-services2" style="margin-top:-50px;">
        <div class="container">
           <div class="row">
                    <div class="col-lg-6">
                        <div class="section-bg imagebg">
				<img src="bitcoin.png" width="900" height="900" alt="plx-side">
			</div>


                    </div>
                    <div class="col-lg-6"> 
                        <div class="careers-text text-left padding-left43">
                            <center>
                            <h1>forte-investments.com MISSION!</h1>
                            <p class="mb-3" style="font-size:20px;">Our goal is to make bitcoin cloud mining truly accessible to everyone regardless of investment size, technical background or experience in cryptocurrencies.</p>
                            
                            <p class="mb-3" style="font-size:20px;">Using decentralized blockchain network to bring billions of unbanked into the global economy.</p>
                            
                            <p class="mb-3" style="font-size:20px;">We are perfectly positioned to meet your unique needs while striving to exceed your highest expectations.</p>
                            
                                                        <a href="/signup" class="flat-button">GET STARTED</a>
                                                           </center>
                            
                        </div>
                    </div>
                </div> 
        </div>
    </section>
    
    
    
        <section class="flat-row section-testimonials2 padding4">
        <div class="row">
                <div class="col-md-12">  
                    <div class="title-section style3 text-center">
                        <h1 class="title">Marketcap</h1>
                    </div>      
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row --> 
            
            <div class="row">
                <div class="col-md-12">  
                    <center>	<a style="margin-top:10px" class="flat-button" href="/paidout" role="button" target="_blank">Click to View Payouts </a></center>  
                </div>
            </div><br>
       
       <!-- TradingView Widget BEGIN -->   <center>
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span class="blue-text">Current Trading Markets</span></a> by forte-investments.com</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "width": 1200,
  "height": 490,
  "defaultColumn": "performance",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "light",
  "locale": "en",
  "isTransparent": false
}
  </script>
</div>   </center>
<!-- TradingView Widget END -->


       
    </section>



    
    
    
   

    
<section class="flat-row section-testimonials bg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">  
                    <div class="title-section text-center">
                        <h1 class="title">CUSTOMERS REVIEW</h1>
                        <div class="symbol">
                           ​‌“ 
                        </div>
                    </div> 
                              
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-testimonials2" data-item="2" data-nav="false" data-dots="true" data-auto="false">
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "My experience with forte-investments.com is absolutely positive. Everything is fine for me. Good service, timely payments, technical support chat always answers. I will give 5 stars."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/2.jpg" alt="image">
                                </div> 
                                <span class="name">Josh Stud</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "forte-investments.com investment has proven to be a reliable and trustworthy business partner. Thumbs Up. it's up to you to try them and find out by yourself! Great Trading Services with High amount of Profits."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/21.png" alt="image">
                                </div> 
                                <span class="name">Alex Poole</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "I am so pleased with their work and cheap investment options. I encourage everyone to grab this wonderful opportunity and start earning through trading crypptocurrency !."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/18.jpeg" alt="image">
                                </div> 
                                <span class="name">Nancy Franklin</span>
                        </div>    </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "forte-investments.com offers a great experience for everybody interested in Trading! its so perfect and easy to earn from, you just have to sit back while they do there job for you.
"
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/19.jpeg" alt="image">
                                </div> 
                                <span class="name">Ghan Nam</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "I now enjoy financial freedom like I’ve never know before doing what I love. Thanks to the investment opportunities from forte-investments.com.
                        "
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/20.jpeg" alt="image">
                                </div> 
                                <span class="name">Tayla Meek</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "forte-investments.com has liberated me from so many financial instabilities, I can't count how much i have been able to change from what i get from investing here.
                       "
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/5.jpeg" alt="image">
                                </div> 
                                <span class="name">Tan Mengyao</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "I vividly remember how hard trading bitcoin by myself was, the losses was really unbearable. I am very grateful for the opportunity that Cyryptonice presents."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/6.jpeg" alt="image">
                                </div> 
                                <span class="name">Esther AquilaniI</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "Investing with forte-investments.com is as easy as 1,2,3 and I really appreciate that about this company, with the wonderful support and interface they provided.
                        "
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/22.jpeg" alt="image">
                                </div> 
                                <span class="name">Albert Alexei</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "If you are looking for reliable company company to invest your bitcoin, look no further, this is the best with a reliable investment system. Thank you forte-investments.com.
                        "
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/7.jpeg" alt="image">
                                </div> 
                                <span class="name">STEFANIE</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   " I found there platfom and service good to ring about a few issues and had no problem sorting them out thanks to Sean, and the others at forte-investments.com"
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/24.jpeg" alt="image">
                                </div> 
                                <span class="name">Anah Numnah
</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "Very robust, easy to navigate and well organized. They have tools that are attractive to beginning and experienced options traders."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/8.jpeg" alt="image">
                                </div> 
                                <span class="name">Khattab</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "It is the best trading platform and so helpful, As it is organized very nicely everything is covered.. We have been using it for quite much time."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/11.jpeg" alt="image">
                                </div> 
                                <span class="name">Holy Madd</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "This platform is prefect for beginners who are looking to start investing in Stocks and even crypto! It is definitely a building block to investing."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/10.jpeg" alt="image">
                                </div> 
                                <span class="name">Ramli</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "I have been using forte-investments.com for a few months now and it has been a great experience."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/9.png" alt="image">
                                </div> 
                                <span class="name">Ridiculous Ribs
</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "This is excellent and one of the best programs out there. Easy to use, great interface, good tools."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/13.jpeg" alt="image">
                                </div> 
                                <span class="name">Blown Stone</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "I have made several thousands trading through forte-investments.com. Legit platform, this company deserves 5 star,"
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/14.jpeg" alt="image">
                                </div> 
                                <span class="name">Mafiali</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "Their customer support is always relatively fast and they're helpful. There are cheaper brokers out there for options (stocks are free now)"
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/15.jpeg" alt="image">
                                </div> 
                                <span class="name">Less Moypha</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "The technology that powers their technologies and the concept itself is highly underrated."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/1.png" alt="image">
                                </div> 
                                <span class="name">Message Katty</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "It is one of the best trading platform amongst those I've seen. It's pricing structure is competitive and easy to understand. It is well organized for clients to gain easy access from one place."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/17.jpeg" alt="image">
                                </div> 
                                <span class="name">Coastrock</span>
                            </div>                      
                        </div>
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "Great trading platform and online software. Never have any issues. Trading is quick. What more can I ask for."
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/23.jpeg" alt="image">
                                </div> 
                                <span class="name">Hott Jame</span>
                            </div>                      
                        </div>
                        
                        <div class="testimonials style2 active"> 
                            <div class="message">                                
                                <blockquote class="whisper">
                                   "At my age, i never believe i would be able to mine my bitcoin properly, let alone make this much profit"
                                 </blockquote>
                            </div>
                            <div class="avatar">
                                <div class="testimonial-author-thumbnail">    
                                    <img src="images/testimonial/16.jpeg" alt="image">
                                </div> 
                                <span class="name">Johnny</span>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </section>
   
    
     

    
    
    
    
    
    

 
    
    <section class="flat-row section-client bg-section">
        <div class="container">
            <div class="row">       
                <div class="col-md-12">
                    <div class="flat-client" data-item="5" data-nav="false" data-dots="false" data-auto="true">
                        <div class="client"><img src="images/fpm.png" alt="image"></div>
                        <div class="client"><img src="images/fbtc.png" alt="image"></div>
                        <div class="client"><img src="images/fpayeer.png" alt="image"></div>
                        <div class="client"><img src="images/fltc.png" alt="image"></div>
                        <div class="client"><img src="images/feth.png" alt="image"></div>
                    </div><!-- /.flat-client -->      
                </div>
            </div>
        </div>             
    </section>
    
    
    
       
            
            
            <center><section class="flat-row section-client bg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="col-lg-12 text-center">
                  <h2 class="section-heading" style="padding 17px; margin: 8px; background: #9ef0b4; color: #fff; text-align: center; font-size:25px;">forte-investments.com Certificates</h2> 
              </div><br><br>
              
              
                    <div class="flat-client" data-item="4" data-nav="false" data-dots="false" data-auto="true">
                        <div class="client"><a href="cert/ico.pdf" target="_blank">  <img style="height:100px" src="images/licence/ico.png" alt="">  <h5 style=" text-align: center; font-weight: bold; font-size:17px; margin-top: 10px;">Data Protection - ico.</h5></a></div>
                        
                        
                        <div class="client"><a href="cert/FinCEN_MSB_Registration.pdf" target="_blank">  <img style="height:100px" src="images/licence/2d3959f.svg" alt="">  <h5 style=" text-align: center; font-weight: bold; font-size:17px; margin-top: 10px;">FinCEN MSB Registration.</h5></a></div>
                        
                        <div class="client"><a href="cert/EU_Trademark_Certificate.pdf" target="_blank">  <img style="height:100px" src="images/licence/9b60dbb.png" alt="">  <h5 style=" text-align: center; font-weight: bold; font-size:17px; margin-top: 10px;">European Trademark</h5></a></div>
                        
                        <div class="client"><a href="cert/MTR_Virtual_Currency_Wallet_Service_License.pdf" target="_blank">  <img style="height:100px" src="images/licence/f48dbe9.png" alt="">  <h5 style=" text-align: center; font-weight: bold; font-size:17px; margin-top: 10px;">Virtual Currency Wallet.</h5></a></div>
                        
                        
                    </div><!-- /.flat-client -->      
                </div>
            </div>
        </div>             
    </section>
    </center>