<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page </title>
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/fontawesome-free-6.1.1-web/css/all.css">
</head>
<body>
    <div class="box-sizing">
        <i class="fa fa-book 3X"></i>
        <hr class="hr-text" />
        <p class="log"><i class="fa fa-undo 3X"></i>Page not Found </p>
        
    </div>

</body>
</html>