<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
 <title>forte-investments.com</title>


<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Bootstrap  -->
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

<!-- Theme Style -->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

<!-- Colors -->
<link rel="stylesheet" type="text/css" href="stylesheets/colors/color4.css" id="colors">

<!-- Animation Style -->
<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="main.css">

<!-- Favicon and touch icons  -->
<link href="icon/apple-touch-icon-48-precomposed.png" rel="icon" sizes="48x48">
<link href="icon/apple-touch-icon-32-precomposed.png" rel="icon">
<link href="icon/favicon.png" rel="icon">

<!--[if lt IE 9]>
<script src="javascript/html5shiv.js"></script>
<script src="javascript/respond.min.js"></script>
<![endif]-->
<script src="//code.jivosite.com/widget/A8XjMg5qen" async></script>

</head>                                 
<body class="header_sticky">

<section class="section-maps-form style2 parallax parallax4" style="height: 100vh;">
        <div class="section-overlay style2"></div>
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-lg-7 text-center">
                    <div class="mainlogo">
                        <a href="/"> <img src="/images/logofooter@2x.png" alt="image"></a>
                    </div>
                    <div class="wrap-formrequest padding-lr100">
                        

<script language=javascript>
function checkform() {
  if (document.mainform.username.value=='') {
    alert("Please type your username!");
    document.mainform.username.focus();
    return false;
  }
  if (document.mainform.password.value=='') {
    alert("Please type your password!");
    document.mainform.password.focus();
    return false;
  }
  return true;
}
</script>


 
<form method=post name=mainform onsubmit="return checkform()" class="contactform wrap-form style3 clearfix"><input type="hidden" name="form_id" value="17149210432872"><input type="hidden" name="form_token" value="89baa8e752a27c5ca52124c065b471a9">
<input type=hidden name=a value='do_login'>
<input type=hidden name=follow value=''>
<input type=hidden name=follow_id value=''>
<table cellspacing=0 cellpadding=2 border=0>
<span class="title-form" style="text-align: center;
    margin-bottom: 20px;">Login Your Account</span>
<span class="flat-input">
     <input type=text name=username value='' class=inpts size=30 autofocus="autofocus" placeholder="Username">
</span>
<span class="flat-input">
     <input type=password name=password value='' class=inpts size=30 placeholder="Password">
</span>

<span class="flat-input">
    <button value="Login" type="submit" class="flat-button">LOGIN
    </button></span>
</table>
</form> 
                    </div>
                    <br><br> 
                    <span class="title-form" style="text-align: center;
    margin-bottom: 20px;color:#fff;">Create An Account?</span>
<a href="/signup" style="color: #ff7742;">Click here</a>
                   <br> 
                  <span class="title-form" style="text-align: center;
    margin-bottom: 20px;color:#fff;">Reset Password?</span>
<a href="/forgot_password" style="color: #ff7742;">click here</a>

                </div>
            </div>
        </div>
    </section>
    
    
</body>
</html>    
